body, html {
    height: 100%;
    background-repeat: no-repeat;
    background: #d9ddd0 !important;
}


section article {
    margin-top: 20vh;
}
section article:first-child{
    margin-top: inherit
}

/**
 * Profile image component
 */
 .profile-header-container{
    margin: 0 auto;
    text-align: center;
}

.profile-header-img {
    padding: 54px;
}

.profile-header-img > img.img-circle {
    width: 120px;
    height: 120px;
    border: 2px solid #51D2B7;
}

.profile-header {
    margin-top: 43px;
}

/**
 * Ranking component
 */
 .rank-label-container {
    margin-top: -19px;
    /* z-index: 1000; */
    text-align: center;
}

.label.label-default.rank-label {
    background-color: rgb(81, 210, 183);
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
}






.home{
    background-color: #D9DDD0;
}

footer{
margin-bottom: 2em;
text-align: center;
}

footer a{

    color: #B2477E;
    font-size: 1.5em;
text-decoration: underline;

}

.article-divider{
    border: 1px solid gray;
    width: 70%;
    margin: auto;
    border-radius: 2em;
}

.date-holder{
    color: #666;
}

.quote-container{
    width: 60%;
    border: .5px dotted grey;
    padding: 2%;
    border-left-width: 0.25em;
    border-left-style: solid;
    margin: 1%;
}

.quote-text{
    font-size:.9em;
}

.image-container{
    margin: 1%;
}

article .page-header{
    border-bottom:none;
}